<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>教室管理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<main>

<h1>教室管理</h1>

<table>
    <tr>
        <th>ID</th>
        <th>教室名</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>実施中</th>
        <th>更新</th>
    </tr>

    <tr th:each="row : ${rows}">
        <form action="/classes/update" method="post">

            <td>
                <span th:text="${row.classId}"></span>
                <input type="hidden" name="class_id" th:value="${row.classId}">
            </td>

            <td>
                <input type="text" name="class_name" th:value="${row.className}">
            </td>

            <td>
                <input type="date" name="start_date" th:value="${row.startDate}">
            </td>

            <td>
                <input type="date" name="end_date" th:value="${row.endDate}">
            </td>

            <td>
                <input type="checkbox" name="is_active" th:checked="${row.isActive}">
            </td>

            <td>
                <button type="submit" class="btn btn-update">
                    更新
                </button>
            </td>

        </form>
    </tr>
</table>

<br>

<a href="/class/create">新教室作成</a>
<br>
<a href="/">メニューへ戻る</a>

</main>

</body>

</html>
